# Gebruik 'qa' voor de laatste stabiele builds of 'latest' als je je te goed voelt. Getest met 3.5.0
TAG=

# DB config en credentials (zelfde als defaults in yml)
OMRS_DB_USER=
OMRS_DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
MESSAGEBRIDGE_WEBHOOK_URL=